#container{
	width: 70%;
	margin: auto;
	padding-top: 50px;
}
.box{
	width: 400px;
	background-color: #EEEEEE;
	margin-bottom: 20px;
	margin-right: 20px;
}
.box_top{
	background-color: #C9C9C9;
}
.box_top h2{
	margin-top: 0;
}
.content{
	display: none;
	overflow: hidden;
}

.month{
	margin-bottom: 50px;

}

#month_nav{
	position: fixed;
}

#month_nav li{
	display: inline;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}