#container{
	width: 90%;
	margin: auto;
	padding-top: 50px;
}
.box{
	width: 400px;
	/*background-color: #EEEEEE;*/
	margin-bottom: 20px;
	margin-right: 20px;
}
.box_top{
	background-color: #C9C9C9;
}
.box_top h2{
	margin-top: 0;
}
.box_top p{
	padding-bottom: 10px;
	margin:0;
}
.box_top:after{
	content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.content{
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.2s ease-out;
	background-color: #EEEEEE;
}
.box_bot{
	background-color: #DCDCDC;
}
.month{
	margin-bottom: 50px;

}

#month_nav{
	position: fixed;
}

#month_nav li{
	display: inline;
}

.flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}