body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: Source Sans Pro, sans-serif;
    }

footer{
    position: relative;
    text-align: center;
    bottom: 0;
    font-family: Source Sans Pro, sans-serif;
    }

/*NAVIGATION BAR*/
/* Teaching source: Powell, K. (May 16th 2018). Create a responsive navigation with no JS! [video].
   Found at https://www.youtube.com/watch?v=8QKOaTYvYUA&feature=emb_logo */

    header{
        background-color: white;
        text-align: center;
        position: fixed;
        z-index: 999;
        width: 100%;
        top: 0;
    }

    .logo{
        position: relative;
        display: inline-block;
        text-align: center;
        margin: 0;
        padding-top: 0.3em;
        width: 40%;
    }

    .hamburger{
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    .hamburger:focus ~ .hamburger-label{
        outline: 0.4px solid white;
    }

    .hamburger-label{
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 1.5em;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .hamburger-label span,
    .hamburger-label span::before,
    .hamburger-label span::after{
        display: block;
        background-color: rgb(50, 84, 114);
        height: 1px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    .hamburger-label span::before,
    .hamburger-label span::after{
        content: '';
        position: absolute;
    }

    .hamburger-label span::before{
        bottom: 8px;
    }

    .hamburger-label span::after{
        top: 8px;
    }

    nav{
        position: absolute;
        text-align: left;
        top: 100%;
        left: 0;
        background-color: white;
        width: 100%;
        transform: scale(1,0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }

    nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li{
        margin-bottom: 1em;
        margin-left: 1em;
        padding: 0.2em;
    }

    nav a{
        color: black;
        text-decoration: none;
        font-size: 1em;
        font-family: Source Sans Pro, sans-serif;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    nav a:hover{
        color: rgb(115, 176, 209);
        background-color: white;
        cursor: pointer;
    }

    .hamburger:checked ~ nav{
        transform: scale(1,1);
    }

    .hamburger:checked ~ nav a{
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;;
    }

    /*CONTENT INDEX*/
    .indexPhoto{
        margin-top: 3em;
    }

    #indexInfo{
        background-color: whitesmoke;
        margin: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #indexInfo .insideIndexInfo{
        padding-bottom: 2em;
        width: 100%;
    }

    #indexInfo .insideIndexInfo h3{
        padding: 0.5em;
        text-align: center;
        background-color: rgba(115, 176, 209, 0.8);
        color: rgb(255, 255, 255);
        font-size: 1.5em;
        font-weight: 450;
        margin-top: 0;
    }

    #indexInfo .insideIndexInfo p{
        background-color: white;
        color: black;
        text-align: center;
        font-size: 1em;
        padding-top: 2em;
        padding-bottom: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    #indexInfo .insideIndexInfo a{
        text-decoration: none;
        background-color: white;
        color: rgb(6, 38, 54);
        font-weight: 600;
        font-size: 1em;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 1em;
        border-radius: 0.4em;
    }

    #indexInfo a:hover{
        cursor: pointer;
        color:  rgba(115, 176, 209, 0.8);
    }
    
    /*CONTENT ABOUT US AND INOVATIONCAMP PAGE*/

        .generalText{
          background-color: white;
          height: auto;
          width: auto;
          top: 5em;
          margin: 1em;
          padding: 1em;
          text-align: center;
        }
        .generalText h1 {
          text-align: center;
          color: white;
          background-color: rgba(115, 176, 209, 0.8);
        }
        .generalText a{
            color: rgb(6, 38, 54);
            text-decoration: none;
            color: rgb(6, 38, 54);
            font-weight: 600;
            font-size: 1em;
        }

        .generalText h2 {
          text-align: center;
          color: rgba(50, 84, 114, 0.8);
        }

/*Refrence: Stack Exchange inc (2018, 20 april) Html How to resize an image to fit in the browser window? Stack Overflow. Hentet 05 11 2020  https://stackoverflow.com/questions/6169666/how-to-resize-an-image-to-fit-in-the-browser-window*/

        .generalDivwidth{
          width: 650px;
        }


        #generalPhoto {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
            justify-content: space-around;
              width: 100%;
              height: auto;
              margin: 0;
              padding: 0;
           }
           .photo{
            margin-right: 20px;
            margin-bottom: 20px;
            max-width: 390px;
           }
           .photo p{
            text-align: center;
            font-size: 18px;
            font-weight: bold;
           }
        .center-fit {
               max-width: 100%;
               max-height: 100vh;
               margin: auto;
           }
    
/*CONTENT CONTACT US PAGE*/
.bodyContact{
    background-color: rgba(115, 176, 209, 1);
    }

.contactForm {
    background-color: whitesmoke;
    display: flexbox;
    text-align: center;
    height: auto;
    width: auto;
    position: relative;
    top: 6em;
    margin: 8em 1em;
    margin-top: 0;
    padding: 1em;
    padding-bottom: 4em;
    border-radius: 5px;
    }

.contactForm h1 {
    text-align: center;
    font-weight: 100;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(50, 84, 114);
    }

.contactForm p {
    text-align: center;
    font-size: 1em;
    padding-bottom: 0.5em;
    }

.contactForm span {
    position: relative;
    top: 1em;
    color: rgb(50, 84, 114);
}

.formRadio {
    display: flex;
    flex-direction: column;
}

.formRadio label {
   position: relative;
   top: 1.5em;   
}

.radioInput {
    position: relative;
    top: 0.5em; 
}

        
.formContent input[type=text]{
    position: relative;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    width: 80%;
    }

.formContent .textareaLabel {
    position: relative;
    top: 1.2em;
    }

.formContent textarea {
    position: relative;
    top: 2.5em;
    padding: 1.2em;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    width: 80%;
    }

.formContent input[type=submit]{
    position: relative;
    top: 3em;
    color: black;
    padding: 0.8em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    text-transform: uppercase;
    }

.formContent input[type=submit]:hover {
    background-color: rgb(50, 84, 114);
    color: white;
    }

/* SUBMIT PAGE */
.submittedContent {
    position: relative;
    top: 7em;
    margin: 1em;
    border-radius: 5px;
    padding: 0.9em;
    text-align: center;
    background-color: whitesmoke;
}

.submittedContent h1 {
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: rgb(50, 84, 114);
}

.submittedContent p {
    font-size: 1em;
}

/* SCHEDULE PAGE */
    #container{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    }
    .box{
        width: 400px;
        /*background-color: #EEEEEE;*/
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .box_top{
        background-color: rgb(115, 176, 209);
        color: white;
        text-align: center;
    }
    .box_top:hover{
        cursor:pointer;
    }
    .box_top h2{
        padding-top: 12px;
        font-weight: 70;
        margin-top: 0;
        margin-bottom: 6px;
    }

    .box_top p{
        padding-bottom: 12px;
        margin:0;
    }

    .content{
        overflow: hidden;
        max-height: 100%;
        transition: max-height 0.2s ease-out;
        background-color: #EBF3FF;
    }
    .content p{
        padding: 20px;
        padding-bottom: 0px;
        padding-left: 30px;
        padding-right: 30px;
        margin:0;
        line-height: 1.4em;
    }
    .box_bot{
        background-color: #EBF3FF;
        text-align: center;
        height: 40px;
    }
    .box_bot a{
        font-weight: bold;
        letter-spacing: 0.04em;
        line-height: 40px;
        font-size: 17px;
    }
    .month{
        margin-bottom: 30px;
    }

    h1#November{
        color: #062636;
        margin-top: 50px;
    }

    #month_nav{
        width: 100%;
        margin: auto;
        position: fixed;
        background-color: whitesmoke;
        height: 40px;
    }
    ul#month_nav {
        padding-left: 0;
    }

    #month_nav li{
        display: inline;
    }

    #month_nav a {
        color: #062636;
        font-weight: bold;
        font-size: 26px;
        padding-right: 30px;
    }

    .flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #signUp_name{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #signUp_contact{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #signUpForm{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 2em;
    }
    #signUp_submit{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    #signUp_submit input{
        width: 90px;
        height: 30px;
    }

    /*MAKE IT RESPONSIVE*/
    @media screen and (max-width: 300px){
        /*Navigation bar*/
        .logo{
            width: 48%;
        }
        
        /*Home (Index) page*/
        .indexPhoto{
            margin-top: 3em;
        }

        #indexInfo .insideIndexInfo p{
            font-size: 0.9em;
            padding: 0.5em;
            padding-bottom: 1em;
        }
    }

    @media screen and (min-width: 300px){
        /*Navigation bar*/
       .logo{
           width: 30%;
       }
    }

    @media screen and (max-width: 500px){
        /*Innovation Camp Schedule page*/
        #month_nav a{
            font-size: 22px;
            padding-right: 10px;
        }
        #month_nav{
            height: 60px;
        }
        .box_bot a{
            font-size: 15px;
        }
     }

     @media screen and (min-width: 700px) {
         /*Navigation bar*/
        .logo{
            width: 20%;
        }

        /* Contact us page ipad */
        .contactForm {
            top: 7em;
            margin: 10em 4em;
            margin-top: 0;
            padding: 2em 6em;
        }
        
    .formContent {
        margin-bottom: 4em;
        }
       
    .formContent input[type=submit]{
        font-size: 0.8em;
        }

    /* Contact us submitted page ipad */
    .submittedContent {
        position: relative;
        top: 9em;
        margin: 3em;
        padding: 3em;
    }

    .submittedContent h1 {
        font-size: 1.4em;
    }

    .submittedContent p {
        font-size: 1em;
    }   
}

    @media screen and (min-width: 800px){
        /*Home (Index) page*/
        #indexInfo{
            justify-content: center;
            align-items: center;
            top: 0;
            padding: 0;
        }

        #indexInfo .insideIndexInfo{
            width: 70%;
        }

        #indexInfo .insideIndexInfo h3{
            margin: 0;
        }
    }

    @media screen and (min-width: 1000px){
        /*Navigation bar*/
       .logo{
           width: 15%;
       }
    }
    
    @media screen and (min-width: 1300px){
        .logo{
            width: 10%;
        }

     /* Contact us page desktop */
     .formContent input[type=text]{
        width: 30%;
    }

    .formContent textarea {
       width: 30%;
    }

    .contactForm {
        margin: 0em 12em; 
    }

    .formRadio {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

     /* Contact us submitted page desktop */
     .submittedContent {
        position: relative;
        top: 11em;
        margin: 0em 15em;
        margin-top: 0em;
        padding: 3em;
    }

    .submittedContent h1 {
        font-size: 1.6em;
    }

    .submittedContent p {
     font-size: 1.3em;
    }
}


